@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --spacing-navbar: 4rem;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
